.vscode/**
.vscode-test/**
.vscode-test.*
src/**
out/test/**
.github/**
.trunk/**
.gitignore
.yarnrc
.pre-commit-config.yaml
eslint.config.js
package-lock.json
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.DS_Store
